* {
	margin: 0;
	padding: 0;
}
body {
	background: #404040;
	font-family: Verdana, Helvetica, sans-serif;
	padding-top: 200px;
}
#header{
		top: 0;
		left: 50%;
		margin-left: -500px;
		position: fixed;
}
header, header > h1, header > p {
	width: 1000px;
}
header {
	color: #F6D690;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}
header > h1 {
	text-indent: -999999px;
	height: 125px;
	display: block;
	background: url('../img/site-img/30inchlcds-logo.jpg') 0 0 no-repeat; 
}
/*#footer {
		bottom: : 0;
		left: 50%;
		margin-left: -265px;
		position: fixed;
} */
footer {
	font-size: 12px;
}
footer > h3 {	
	width: 531px;
	text-indent: -999999px;
	margin-left: -265px;
	left: 50%;
	position: absolute;
	height: 66px;
	display: block;
	background: url('../img/site-img/30inchlcds-logo-b.jpg') 0 0 no-repeat;
}